<div id="cards-container" class="container my-4">
  <div id="cards-row" class="row mb-2">
    <div class="col md-4">
      <div class="row card g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
        style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="card-body">
          <hr>
          <a href="#" class="card-link">Go to recipe</a>
        </div>
      </div>
    </div>
  </div>
</div>
