<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Remy - The Pantry Wizard</title>

  <link href="../static/css/style.css" type="text/css" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <script src="../static/js/index_script.js"></script>
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" viewBox="0 0 512 512">
          <path fill="#ffffff"
            d="M61.1 224C45 224 32 211 32 194.9c0-1.9 .2-3.7 .6-5.6C37.9 168.3 78.8 32 256 32s218.1 136.3 223.4 157.3c.5 1.9 .6 3.7 .6 5.6c0 16.1-13 29.1-29.1 29.1H61.1zM144 128a16 16 0 1 0 -32 0 16 16 0 1 0 32 0zm240 16a16 16 0 1 0 0-32 16 16 0 1 0 0 32zM272 96a16 16 0 1 0 -32 0 16 16 0 1 0 32 0zM16 304c0-26.5 21.5-48 48-48H448c26.5 0 48 21.5 48 48s-21.5 48-48 48H64c-26.5 0-48-21.5-48-48zm16 96c0-8.8 7.2-16 16-16H464c8.8 0 16 7.2 16 16v16c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V400z" />
        </svg>
        Remy
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a id="savedRecipesLink" class="nav-link" href="/saved-recipes">Saved Recipes</a>
          </li>
        </ul>
        <!-- Button trigger modal -->
        <div id="account-area" class="btn-toolbar mx-2">
          <div id="logged-out" style="display: block;">
            <button type="button" class="btn btn-success mx-1" data-bs-toggle="modal"
              data-bs-target="#loginModal">Login</button>
            <button type="button" class="btn btn-outline-warning mx-1" data-bs-toggle="modal"
              data-bs-target="#signupModal">Sign-Up</button>
          </div>
          <div id="logged-in" style="display: none;">
            <div class="dropdown">
              <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
              </a>
              <ul class="dropdown-menu text-small" style>
                <li><a id="logged-username" class="dropdown-item" href="#">Profile</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <button id="logout-button" class="btn dropdown-item" href="#">Sign out <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-door-closed" viewBox="0 0 16 16">
                    <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3zm1 13h8V2H4z"></path>
                    <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0"></path>
                  </svg></button>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>


  <!-- login / signup modals -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true" style="z-index: 1500">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="loginModalLabel">Login</h1>
          <button id="login-close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="login-form">
            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-3" id="login-floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email or Username</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control rounded-3" id="login-floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <!-- <div class="form-group form-check mb-3">
              <input type="checkbox" class="form-check-input" id="remembercheck">
              <label class="form-check-label" for="remembercheck">Remember me</label>
            </div> -->
            <div><!-- Link to Signup Modal -->
              <p>Not a member? <a href="#" class="remove-underline text-success" data-bs-dismiss="modal" onclick="showSignupModal()">Sign Up</a></p></div>
            <div id="login-message" class="mb-3"></div>
            <button id="login-button" class="w-100 mb-2 btn btn-lg rounded-3 btn-success" type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true" style="z-index: 1500;">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="signupModalLabel">Sign Up</h1>
          <button id="signup-close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="signup-form" action="javascript:void(0)">
            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="text" class="form-control" id="signup-floatingfname" placeholder="First Name">
                  <label for="floatingfname">First Name</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="text" class="form-control" id="signup-floatinglname" placeholder="Last Name">
                  <label for="floatinglname">Last Name</label>
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control rounded-3" id="signup-floatingInput"
                placeholder="name@example.com">
              <label for="floatingInput">Email or Username</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control rounded-3" id="signup-floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control rounded-3" id="signup-floatingCPassword"
                placeholder="Confirm Password">
              <label for="floatingCPassword">Confirm Password</label>
            </div>
            <div><p>Already a member? <a href="#" class="remove-underline text-primary" data-bs-dismiss="modal" onclick="showLoginModal()">Log In</a></p></div>
            <div id="signup-message" class="mb-3"></div>
            <button id="signup-button" class="w-100 mb-2 btn btn-lg rounded-3 btn-warning" type="submit">Sign
              up</button>
            <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Search Recipe -->
  <div class="container my-4">
    <form id="search-form" class="row mb-2" action="javascript:void(0)">
      <div class="col-sm-10">
        <div class="row g-0 border rounded mb-4 shadow-sm h-md-250 position-relative">
          <input id="search-bar" name="ingredients" type="search" class="col-6 form-control focus-ring"
            placeholder="Search for recipes..." aria-label="Search">
        </div>
      </div>
      <div class="col-sm-2">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <button id="search-button" type="submit" class="btn btn-outline-success">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
              viewBox="0 0 16 16">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0">
              </path>
            </svg>
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- cards -->
  <div id="cards-container" class="container my-4">
    <div id="cards-row" class="row mb-2">

    </div>
  </div>

  <!-- Their Modals -->
  <div id="modal-container">

  </div>

  <!-- JS Bundle -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

  <!-- Icons -->
  <script src="https://kit.fontawesome.com/63c3991bbe.js" crossorigin="anonymous"></script>

</body>

</html>